* {
  margin: 0px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  font-family: 'Barlow', 'sans-serif';
  font-weight: 200;
}
body{
  margin: 0;
}
/* ---------------------------------------------------HEADER-------------------------------------- */
header {
  background-color: #f93549;
  height: 90px;
  justify-content: center;
  align-items: center;
  width: 100%;
}
header > .navbar {
  justify-self: center;
}
.show{
  display: none;
}
.container{
  width: 10%;
}
.burger{
  background-color: transparent;
  color: white;
  border: 0;
  cursor: pointer;
  font-size: 30px;
}
.navbar {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 20px 0px;
  margin: 0px -8px;
  width: 80%;
  text-transform: uppercase;
}
.img-container {
  height: 59px;
  width: auto;
}
/* .img-container > img {
  max-width: 100%;
  min-height: 94px;
} */
.navbar > .text-container {
  justify-content: center;
}
.navbar > .text-container > ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navbar > .text-container > ul > a {
  text-decoration: none;
}
.navbar > .text-container > ul > a > li {
  list-style: none;
  text-decoration: none;
  color: white;
  padding-left: 35px;
}
.navbar > .text-container > ul > a > li::after{
  content: "";
  width: 0%;
  height: 1px;
  display: block;
  background-color: #fff;
  transition: all .4s ease-in-out;
}
.navbar >.text-container > ul > a > li:hover::after{
  width: 100%;
  transition: all .4s;
}
/* -------------------------------------------HEADER ENDS------------------------------------- */

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
}

/* --------------------------------------------- SECTION --------------------------------------- */
section{
   background-color: #e9e9e9; 
  content: "";
  background-image: url(https://c4.wallpaperflare.com/wallpaper/47/926/520/photography-architecture-glass-monochrome-lights-sunlight-reflection-sky-wallpaper-preview.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 480px;
  padding-top: 200px;
}
.section-container {
  height: 327px;
  margin: 0px 45px;
  padding: 35px 15px 0 15px;
  display: flex;
  justify-content: space-evenly;
}
.left-content {
  margin-top: -8.7rem;
  height: 280px;
  width: 40%;
}
.left-content > h1 {
  margin-left: 20px;
  font-size: 40px;
  color: #f93549;
  line-height: 50px;
  font-weight: 100;
}
.left-content > p {
  font-size: 22px;
  color: #666666;
  line-height: 29px;
  font-weight: 100;
}
.left-content > input {
  margin: 18px 0 0 8px;
  padding: 10px 25px;
  margin-left: 20px;
  font-size: 16px;
  border: 1px solid #f93549;
  background-color: transparent;
  color: #f93549;
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #f93549;
  transition: all .4s ease-out;
}
.left-content > input:hover {
  box-shadow: inset 0 50px 0 0 #f93549;
  color: white;
}
.right-content {
  height: 280px;
  width: 40%;
  display: flex;
  flex-direction: row-reverse;
}
.right-content > button {
  margin: -6em 180px 0px 0px;
  padding: 20px 55px;
  border: none;
  border-radius: 50px;
  background-color: #f93549;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 14px;
  letter-spacing: 0.15px;
  box-shadow: inset 0px 0px 0 0px rgba(0, 0, 0, 1);
}
  
/* --------------------------------------------ENDS SECTION-------------------------------------- */

/* ---------------------------------------------STARTS MAIN-------------------------------------- */
main {
  height: 690px;
  background-color: white;
}
.box-content {
  margin: 0px 45px;
  height: 250px;
  display: flex;
  justify-content: center;
  color: white;
}
.box-content > .box1 {
  margin: 0px 45px;
  background-color: #333333;
  height: 250px;
  width: 28%;
  margin-top: -100px;
}
.box-content > .box2 {
  background-color: #f93549;
  height: 250px;
  width: 28%;
  margin-top: -100px;
  margin-right: -45px;
  margin-left: -45px;
}
/* -------------------------------- GREY BOX CONTENT------------------------------------------ */
.box-content > .box1 > p,
.big-p,
h5 {
  padding-top: 20px;
  padding-right: 10px;
  margin-left: 20px;
  font-weight: 200;
}
.box-content > .box1 > .big-p {
  font-size: 25px;
}
.box-content > .box1 > h5 {
  font-size: 16px;
  font-weight: 200;
}
.box-content > .box1 > input {
  margin: 30px 0 0 8px;
  padding: 10px 20px;
  border: 1px solid #ffffff;
  background-color: transparent;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
  margin-left: 20px;
  transition: all .3s;
}
.box-content > .box1 > input:hover{
  border: 1px solid #f93549;
  color: #f93549;
  transition: .3s ease-in-out;
}
/* --------------------------------- RED BOX CONTENT--------------------------------------------- */
.box-content > .box2 > h5,
p,
.big-p {
  padding-top: 20px;
  padding-right: 10px;
  margin-left: 20px;
}
.box-content > .box2 > h5 {
  font-size: 16px;
  font-weight: 200;
  
}
.box-content > .box2 > .big-p {
  font-size: 25px;
}
.box-content > .box2 > input {
  margin: 30px 0 0 8px;
  padding: 10px 20px;
  border: 1px solid white;
  background-color: transparent;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
  margin-left: 20px;
  transition: all .3s;
}
.box-content > .box2 > input:hover{
  border: 1px solid #333333;
  color: #333;
  transition: .3s ease-in-out;
}
/* ------------------------------------ ENDS BOXES-------------------------------------------------- */
/* ------------------------------------ ENDS MAIN-------------------------------------------------- */

/* -------------------------------------STARTS HIGHLIGHT SECTION----------------------------------- */

.highlight {
  height: 380px;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.highlight-left {
  height: 100px;
  width: 30%;
}
.highlight-left > h4 {
  color: #f93549;
  margin: 10px 0 0 15px;
  font-size: 26px;
  font-weight: 200;
}
.highlight-right {
  height: auto;
  width: 70%;
  color: #666666;
}
.highlight-left > p {
  font-size: 16px;
}

/* ------------------------------------- ENDS HIGHLIGHT SECTION------------------------------------- */

/* ------------------------------------- STARTS SECTION-2 ------------------------------------------ */
.section-2 {
  width: 100%;
  background-image: url(https://bimaplus.org/wp-content/uploads/2018/09/bimaplus-41.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 330px;
}
.section-2-content {
  width: 80%;
  /* background-color: darkviolet; */
  height: 320px;
  display: flex;
}
.section-2-content-left {
  height: 100px;
  width: 30%;
  margin-top: 30px;
}
.section-2-content-left > h4 {
  color: #f93549;
  margin: 10px 0 0 15px;
  font-size: 26px;
  font-weight: 200;

}
.section-2-content-right {
  height: auto;
  width: 70%;
  color: #666666;
  margin-top: 30px;
}
.section-2-content-right {
  font-size: 16px;
}
.section-2-content-right >  input {
  margin: 40px 0 0 8px;
  padding: 10px 25px;
  margin-left: 20px;
  font-size: 16px;
  border: 1px solid #f93549;
  background-color: transparent;
  color: #f93549;
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #f93549;
  transition: all .4s ease-out;
}
.section-2-content-right > input:hover {
  box-shadow: inset 0 50px 0 0 #f93549;
  color: white;
}
/* ------------------------------------- ENDS SECTION-2 -------------------------------------------- */

/* -------------------------------------- STARTS NEWS SECTION------------------------------------- */

.news {
  height: 550px;
  width: 100%;
  /* background-color: orchid; */
}
.news-container {
  width: 80%;
  padding-top: 100px;
  /* background-color: blue; */
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.news-container > .allnews {
  /* background-color: mediumpurple; */
  height: 200px;
  width: 25%;
}
.news-container > .allnews > h4 {
  color: #f93549;
  font-size: 26px;
  margin-left: 19px;
  font-weight: 200;

}
.news-container > .allnews > p {
  color: #666666;
  font-size: 16px;
}
.news-container > .allnews > input {
  margin: 40px 0 0 8px;
  padding: 5px 20px;
  margin-left: 20px;
  font-size: 12px;
  border: 1px solid #f93549;
  background-color: transparent;
  color: #f93549;
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #f93549;
  transition: all .4s ease-out;
}
.news-container> .allnews > input:hover {
  box-shadow: inset 0 50px 0 0 #f93549;
  color: white;
}

/* ------------------------------------------- STARTS BOX NEWS --------------------------------------------------- */

/* ---------------------------------------------------- NEW 1 --------------------------------------------------- */
.news-container > .new1 {
  height: 430px;
  width: 35%;
}
.news-container > .new1 > .post-content-container1 {
  background-color: #484848;
  height: auto;
  padding-bottom: .75em;
  box-shadow: 2px 3px 4px rgba(0,0,0,0.5);
}
.news-container > .new1 > .post-content-container1 > span {
  transition: all .5s ease-in-out; 
}
.news-container > .new1 > .post-content-container1 > span > a >img{
  width: 100%;
  max-width: 100%;
}
.news-container > .new1 > .post-content-container1 > span:hover{
  background-color: #f93549be;
  z-index: -1;
  cursor: pointer;
  transition: all .5s ease-in-out; 
}
.news-container > .new1 > .post-content-container1 > .blog-post-date {
  text-decoration: none;
  color: white;
  padding: 10px;
}
.news-container > .new1 > .post-content-container1 > a {
  color: #f93549;
  font-size: 24px;
  text-decoration: none;
  margin-left: 10px;
}

/* ---------------------------------------------------- NEW 2 --------------------------------------------------- */
.news-container > .new2 {
  height: 430px;
  width: 35%;
}
.news-container > .new2 > .post-content-container1 {
  background-color: #484848;
  height: auto;
  padding-bottom: .75em;
  box-shadow: 2px 3px 4px rgba(0,0,0,0.5);
}
.news-container > .new2 > .post-content-container1 > span {
  transition: all .5s ease-in-out; 
}
.news-container > .new2 > .post-content-container1 > span > a >img{
  width: 100%;
  max-width: 100%;
  
}
.news-container > .new2 > .post-content-container1 > span:hover{
  background-color: #f93549be;
  z-index: -1;
  cursor: pointer;
  transition: all .5s ease-in-out; 
}
.news-container > .new2 > .post-content-container1 > .blog-post-date {
  text-decoration: none;
  color: white;
  padding: 10px;
}
.news-container > .new2 > .post-content-container1 > a {
  color: #f93549;
  font-size: 24px;
  text-decoration: none;
  margin-left: 10px;
}
/* -------------------------------------------- ENDS BOX NEWS --------------------------------------------------- */
/* --------------------------------------------- ENDS NEWS SECTION--------------------------------------------- */

/* ---------------------------------------------- STARTS NEWSLETTER SECTION--------------------------------- */

.newsletter {
  margin-top: 20px;
  background-color: #f93549;
  width: 100%;
  height: 180px;
  display: flex;
  align-items: center;
}
.newsletter-content {
  /* background-color: powderblue; */
  width: 80%;
  height: 125px;
  display: flex;
  justify-content: center;
}
/* LEFT CONTENT */
.newsletter-content > .newsletter-left-content {
  /* background-color: purple; */
  height: 62.5px;
  font-weight: 200;
  width: 30%;
  margin: 0 50px 0 0;
}
.newsletter-content > .newsletter-left-content > h3 {
  color: white;
  font-size: 26px;
  font-weight: 200;
}
/* RIGHT CONTENT */
.newsletter-content > .newsletter-right-content {
  /* background-color: royalblue; */
  height: 62.5px;
}
.newsletter-content > .newsletter-right-content > #name {
  width: 380px;
  height: 41px;
  display: inline-block;
  color: white;
  background-color: #fa4a5c;
  border: none;
}
.newsletter-content > .newsletter-right-content > #email {
  width: 380px;
  height: 41px;
  display: inline-block;
  color: white;
  background-color: #fa4a5c;
  border: none;
}
.newsletter-content > .newsletter-right-content > #btn {
  display: block;
  padding: 11px 20px;
  margin-left: 2px;
  font-size: 16px;
  border: none;
  background-color: #ffffff;
  color: #484848;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
}
.newsletter-content > .newsletter-right-content > p {
  padding: 2px 2px;
  display: block;
}
.newsletter-content > .newsletter-right-content > p > #checkbox {
  font-size: 0%;
}
.newsletter-content > .newsletter-right-content > p > a {
  text-decoration: none;
  cursor: pointer;
  color: white;
}
/* -------------------------------------- ENDS NEWSLETTER SECTION -------------------- */
/* -------------------------------------- ENDS NEWS SECTION------------------------------------- */
/* ----------------------------------------------- STARTS FOOTER SECTION----------------- */

footer {
  background-color: #333333;
  width: 100%;
  height: 350px;
}
/* -------------------------------------------------- FOOTER BOXES-------------------- */
.footer-content-boxes{
  width: 80%;
  height: 250px;
  background-color: #333333;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #444444;
  align-items: baseline;
}
.footer-content{
  margin-top: 50px;
  padding: 0 15px 0 15px;
  font-weight: 200;
  width: 25%;
}
.footer-content > a::after{
    content: "";
    width: 0%;
    height: 1px;
    display: block;
    background-color: #f93549;
  }
  .footer-content > a:hover::after{
    width: 30%;
    transition: all .4s;
  }
.footer-content > h2{
  color: #f93549;
  font-size: 20px;
  font-weight: 200;
}
.footer-content > p{
  color: #898989;
  font-size: 16px;
  margin-left: -1px;
  margin: 5px 0 5px 0;;
}
.footer-content > a{
  color: #f93549;
  font-size: 16px;
  text-decoration: none;
}
.footer-content > ul{
  list-style: none;
  margin: 10px 0 0px 0;
}
.footer-content > ul > li{
  color: #898989;
  font-size: 16px;
  margin-left: -40px;
}

/* ------------------------------------------------ FOOTER BOTTOM----------------------------- */
.footer-bottom-content{
  display: flex;
  justify-content: space-between;
  width: 80%;
  padding: 30px 0 30px 0;
}
.footer-bottom-content-left{
  color: #666666;
  font-size: 14px;
  font-weight: 200;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 80%;
}
.footer-bottom-content-left > p{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: -20px;
}
.footer-bottom-content-left > p > a{
  color: #f93549;
  text-decoration: none;
  margin: 0 5px 0 5px;
  padding: 1px;
}
.footer-bottom-content-left > p > span {
  color: #666666;
}
.footer-bottom-content-left > p > span > a{
  color: #666;
  text-decoration: none;
  font-weight: 200;
}
.footer-bottom-content-left > p > span > a:hover{
  color: #f93549;
  font-size: 18px;
  font-weight: 700;
  transition: all .4s ease-in-out;
}
.footer-bottom-content-right{
  color: #666666;
  font-size: 14px;
  font-weight: 200;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 80%;
}
.footer-bottom-content-right > ul{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: baseline;
}
.footer-bottom-content-right > ul > li{
  list-style: none;
  padding: 10px;
  
}
.footer-bottom-content-right > ul > li > span{
  color: #666666;
}
.footer-bottom-content-right > ul > li > span > a{
  color: #666666;
  text-decoration: none;
  transition: all .4s ease-in-out;
}
.footer-bottom-content-right > ul > li > span> a::after{
  content: "";
  width: 0%;
  height: 1px;
  display: block;
  background-color: #f93549;
  transition: all .4s ease-in-out;
}
.footer-bottom-content-right > ul > li > span > a:hover{
  color: #f93549;
  transition: all .4s;
  cursor: pointer;
}
.footer-bottom-content-right > ul > li > span > a:hover::after{
  width: 100%;
  transition: all .4s;
  color: #f93549;
}
/* ------------------------------------- RESPONSIVE ------------------------------ */
/* --------------------------MOBILE PHONES------------------ */
 @media only screen and (max-width:480px) and (min-width: 0px){
    header{
      width: 100%;
      margin: 0 auto;
      max-width: 414px;
    }
    .navbar{
      width: 100%;
    }
    .burger{
      margin-right: -5.5em;
    }
    .img-margin{
      margin-left: -15em;
    }
    .img-container{
    display: flex;
    justify-content: space-around;
    }
    .show{
      display: block;
    }
    .nav-ul.see{
      display: block;
    }
    .section{
      max-width: 90%;
      margin: 0 auto;
      max-height: 250px;
      font-weight: 500;
      max-width: 414px;
    }
    .section-container{
      display: flex;
      flex-direction: column-reverse;
      align-items: flex-end;
      margin: 0 auto;
      justify-content: space-between;
    }
    .section-container > .left-content{
      width: 90%;
    }
    .section-container > .left-content > h1{
      margin-top: -1.5em;
    }
    main{
      width: 100%;
      height: 88em;
      max-width: 414px;
    }
    .box-content{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0%;
      margin-top: 17em;
      width: 100%;
      max-width: 414px;
    }
    .box-content > .box1{
      width: 100%;
      margin: 0;
      padding-bottom: 1em;
    }
    .box-content > .box2{
      width: 100%;
      margin: 0;
      padding-bottom: 1em;
    }
    .hide{
      display: none;
    }
    .highlight{
      margin-top: 19em;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      max-width: 414px;
    }
    .highlight h4{
      margin-left: -2.75em;
    }
    .section-2{
      height: 25em;
      max-width: 414px;
    }
    .section-2-content{
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin: 0 auto;
      justify-content: space-between;
      width: 100%;
    }
    .section-2-content h4{
      margin-left: -2.75em;
    }
    .news{
      height: 70em;
      max-width: 414px;
    }
    .news-container{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }
    .news-container > .allnews{
      width: 80%;
      margin: 1em;
    }
    .news-container > .new1{
      width: 80%;
      margin: 1em;
    }
    .news-container > .new1 > .post-content-container1{
      max-height: 300px;
    }
    .news-container .new2{
      width: 80%;
      margin: 1em;
    }
    footer{
      min-height: 55em;
      align-items: center;
      max-width: 414px;
    }
    .footer-content-boxes{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      width: 95%;
      margin: 1em auto;
      /* border-bottom: 1px solid #444444; */
    }
    .footer-content-boxes > .footer-content{
      width: 95%;
    }
    .footer-bottom-content{
      margin-top: 26em;
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      justify-content: space-between;
      text-align: justify;
      width: 100%;
    }
    .footer-bottom-content > .footer-bottom-content-right{
      display: row;
      flex-direction: column-reverse;
      flex-wrap: wrap;
      justify-content: space-around;
      text-align: justify;
      width: 80%;
    }
    .footer-bottom-content > .footer-bottom-content-left{
      justify-content: center;
      width: 100%;
  
    }
  }